## SQL - Major SQL commands
### BIOINF 575 - Fall 2020

##### RESOURCES
https://sqlite.org/index.html    
https://www.sqlite.org/fullsql.html  
https://docs.python.org/3/library/sqlite3.html  
https://www.sqlite.org/lang_aggfunc.html  
https://www.sqlitetutorial.net/sqlite-create-table/    
https://www.sqlite.org/syntaxdiagrams.html    
https://www.tutorialspoint.com/python_network_programming/python_databases_and_sql.htm  
https://www.tutorialspoint.com/python/python_database_access.htm  
https://www.python-course.eu/sql_python.php  
https://www.sqlalchemy.org/library.html#reference    
https://docs.sqlalchemy.org/en/13/orm/  
https://docs.sqlalchemy.org/en/14/orm/tutorial.html#version-check  
https://towardsdatascience.com/sql-in-python-for-beginners-b9a4f9293ecf

#### What is a database? 

* Is an organized collection of data (files)
* A way to store and retrieve that information
* A relational database is structured to recognize relations between the data elements


*  A collection of data

        * Dictionary
            {"EGFR":6.8, "MYC": 4.5, "WNT1":11.7}

        * Tab-separated text file, or pd.DataFrame


| GeneID  | GeneSymbol  | ExpressionValue  |
|---------|-------------|------------------|
| 7471    | WNT1        |             11.7 |
| 4609    | MYC         |              4.5 |
| 1956    | EGFR        |              6.8 |


Entity-Relationship Diagram - shows the relations between tables in a relational database
- tables are connected by fields (columns) that are common - called keys


https://www.researchgate.net/profile/Adam_Richards3/publication/282134102/figure/fig3/AS:289128232046602@1445944950296/Database-entity-diagram-Data-collected-from-NCBI-the-Gene-Ontology-and-UniProt-are.png

<img src = "https://www.researchgate.net/profile/Adam_Richards3/publication/282134102/figure/fig3/AS:289128232046602@1445944950296/Database-entity-diagram-Data-collected-from-NCBI-the-Gene-Ontology-and-UniProt-are.png" width = "600"/>


<img src = "https://github.com/mitreac/b575f20/raw/master/images/Tables_examples.png" width = "500" />


#### Relational Database Management Systems (RDBMS)
* Software programs such as Oracle, MySQL, SQLServer, DB2, postgreSQL, SQLite 
* They handle the data storage, indexing, logging, tracking and security (access)  
* They have a very fine-grained way of granting permissions to users at the level of commands that may be used
    * Create a database
    * Create a table
    * Update or insert data
    * View certain tables ... and many more   
* An important part of learning databases is to understand the type of data which is stored in columns and rows.  
* Likewise when we get to the database design section, it is critically important to know what type of data you will be modeling and storing (and roughly how much, in traditional systems) 
* Exactly which types are available depends on the database system



#### Why use databases and Relational Database Management Systems?
* Easy, efficient, secure, collaborative management of data that maintains data integrity

#### What is the Structured Query Language (SQL) ?
* SQL is the standard language for relational database management systems
* SQL is used to communicate with a database

#### Why SQLite?
SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. 
* SQLite is often the technology of choice for small applications, particularly those of embedded systems and devices like phones and tablets, smart appliances, and instruments.
* It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle.

#### sqlite3
The sqlite3 module in the Python standard library provides a SQL interface to communicate with databases.<br>
https://docs.python.org/3/library/sqlite3.html

Once you have a `Connection`, you can create a `Cursor` object and call its execute() method to perform SQL commands.

`Cursor` objects represent a database cursor, which is used to manage the context of a fetch/retrieval operation.
A call to the `Cursor`'s execute() method is used to perform SQL commands.

#### SQLite uses a greatly simplified set of data types:
* INTEGER - numeric
* REAL - numeric
* TEXT – text of any length
    * Dates are held as text
* BLOB – binary large objects
    * Such as images

In [2]:
from sqlite3 import connect
connection = connect('demoDatabase.sqlite')

cursor = connection.cursor()

In [6]:

for elem in dir(connection):
    if not elem.startswith("__"):
        print(elem)

DataError
DatabaseError
Error
IntegrityError
InterfaceError
InternalError
NotSupportedError
OperationalError
ProgrammingError
Warning
backup
close
commit
create_aggregate
create_collation
create_function
cursor
enable_load_extension
execute
executemany
executescript
in_transaction
interrupt
isolation_level
iterdump
load_extension
rollback
row_factory
set_authorizer
set_progress_handler
set_trace_callback
text_factory
total_changes

In [7]:
for elem in dir(cursor):
    if not elem.startswith("__"):
        print(elem)

arraysize
close
connection
description
execute
executemany
executescript
fetchall
fetchmany
fetchone
lastrowid
row_factory
rowcount
setinputsizes
setoutputsize

In [3]:
sql = '''
SELECT * 
FROM sqlite_master 
LIMIT 5;
'''
cursor.execute(sql)

In [4]:
for row in cursor:
    print(row)

In [5]:
cursor.description

(('type', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('tbl_name', None, None, None, None, None, None),
 ('rootpage', None, None, None, None, None, None),
 ('sql', None, None, None, None, None, None))

In [6]:
sql='''
CREATE TABLE IF NOT EXISTS test_table (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      description TEXT,             
      test_value INTEGER
);
'''
try:
    cursor.execute(sql)
except connection.DatabaseError:
    print("Creating the test_table table resulted in a database error!")
    connection.rollback()
    raise
else:
    connection.commit()
    print("Create table successful.")
finally:
    print("done!")

Create table successful.
done!

In [7]:
sql = '''
SELECT * 
FROM sqlite_master 
LIMIT 5;
'''
cursor.execute(sql)
for row in cursor:
    print(row)

('table', 'test_table', 'test_table', 2, 'CREATE TABLE test_table (\n      id INTEGER PRIMARY KEY AUTOINCREMENT,\n      description TEXT,             \n      test_value INTEGER\n)')
('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')

In [15]:
cursor.description

(('type', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('tbl_name', None, None, None, None, None, None),
 ('rootpage', None, None, None, None, None, None),
 ('sql', None, None, None, None, None, None))

In [8]:
sql = '''
SELECT type, name
FROM sqlite_master 
LIMIT 5;
'''
cursor.execute(sql)
for row in cursor:
    print(row)

('table', 'test_table')
('table', 'sqlite_sequence')

In [9]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 5;
'''
cursor.execute(sql)
for row in cursor:
    print(row)

In [10]:
sql = '''
INSERT INTO test_table (id, description, test_value)
VALUES (1,'row description here', 200);
'''
cursor.execute(sql)

In [11]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 5;
'''
cursor.execute(sql)
for row in cursor:
    print(row)

(1, 'row description here', 200)

In [12]:
sql = '''
SELECT * 
FROM sqlite_sequence
LIMIT 5;
'''
cursor.execute(sql)
for row in cursor:
    print(row)

('test_table', 1)

In [15]:
def get_header(cursor):
    '''
    Makes a tab delimited header row from the cursor description.
    Arguments:
        cursor: a cursor after a select query
    Returns:
        string: A string consisting of the column names separated by tabs, no new line
    '''
    return '\t'.join([row[0] for row in cursor.description])

In [16]:
def get_results(cursor):
    '''
    Makes a tab delimited table from the cursor results.
    Arguments:
        cursor: a cursor after a select query
    Returns:
        string: A string consisting of the column names separated by tabs, no new line
    ''' 
    res = list()
    for row in cursor.fetchall():        
        res.append('\t'.join(list(map(str,row))))
    return "\n".join(res)

In [23]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 5;
'''
cursor.execute(sql)

print(get_header(cursor))
print(get_results(cursor))

id	description	test_value
1	row description here	200

In [13]:
sql = '''
INSERT INTO test_table (id, description, test_value)
VALUES (2,'row description here', 200);
'''
cursor.execute(sql)

In [17]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 5;
'''
cursor.execute(sql)

print(get_header(cursor))
print(get_results(cursor))

id	description	test_value
1	row description here	200
2	row description here	200

In [18]:
values_to_insert = [3, "decs2", 300]

sql = '''
INSERT INTO test_table (id, description, test_value)
VALUES (?,?,?);
'''
cursor.execute(sql,values_to_insert)

In [19]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 5;
'''
cursor.execute(sql)

print(get_header(cursor))
print(get_results(cursor))

id	description	test_value
1	row description here	200
2	row description here	200
3	decs2	300

In [20]:
# we did not provide values for all columns (test_value is missing) so we get an error
values_to_insert = [4, "decs2"]

sql = '''
INSERT INTO test_table (id, description, test_value)
VALUES (?,?,?);
'''
cursor.execute(sql,values_to_insert)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 3, and there are 2 supplied.

In [21]:
values_to_insert = [[4, "decs2", 50], [6,"desc4 here", 602]]

sql = '''
INSERT INTO test_table (id, description, test_value)
VALUES (?,?,?);
'''
cursor.executemany(sql,values_to_insert)

In [22]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 10;
'''
cursor.execute(sql)

print(get_header(cursor))
print(get_results(cursor))

id	description	test_value
1	row description here	200
2	row description here	200
3	decs2	300
4	decs2	50
6	desc4 here	602

In [33]:
dir(cursor)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [34]:
dir(connection)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [23]:
connection.commit()

In [24]:
cursor.close()

In [25]:
connection.close()

In [26]:
sql = '''
SELECT * 
FROM test_table 
LIMIT 10;
'''
cursor.execute(sql)

print(get_header(cursor))
print(get_results(cursor))

ProgrammingError: Cannot operate on a closed cursor.

In [27]:
from sqlite3 import connect

'''    
    Establish a connection to the database.
    This statement creates the file at the given path if it does not exist and that will be an empty database.
    The file was provided in this case so the statement should just establish the connection.
'''
connection = connect('org.Hs.eg.sqlite')
cursor = connection.cursor()

In [40]:
# check what the connection object can do

for elem in dir(connection):
    if not elem.startswith("__"):
        print(elem)

DataError
DatabaseError
Error
IntegrityError
InterfaceError
InternalError
NotSupportedError
OperationalError
ProgrammingError
Warning
backup
close
commit
create_aggregate
create_collation
create_function
cursor
enable_load_extension
execute
executemany
executescript
in_transaction
interrupt
isolation_level
iterdump
load_extension
rollback
row_factory
set_authorizer
set_progress_handler
set_trace_callback
text_factory
total_changes

In [41]:
for elem in dir(cursor):
    if not elem.startswith("__"):
        print(elem)

arraysize
close
connection
description
execute
executemany
executescript
fetchall
fetchmany
fetchone
lastrowid
row_factory
rowcount
setinputsizes
setoutputsize

#### Major SQL commands: SELECT, INSERT, DELETE, UPDATE
#### SELECT - Retrieves data from one or more tables and doesn’t change the data at all 

* SELECT  * (means all columns), or the comma separated names of the columns of data you wish to return
    * Returns columns (left to right) in the order received. 
    * '*' selects ALL rows and ALL columns and returns them by column order and row_id
* FROM is the table source or sources (comma separated)
* WHERE (optional) is the predicate clause: conditions for the query
    * Evaluates to True or False for each row
    * This clause almost always includes Column-Value pairs.
    * Omitting the Where clause returns ALL the records in that table.
    * Note: the match is case sensitive
* ORDER BY (optional) indicates a sort order for the output data 
    * default is row_id, which can be very non-intuitive  
    * ASCending or DESCending can be appended to change the sort order.  (ASC is default)
* GROUP BY (optional) groups by a column and creates summary data for a different column
* HAVING (optional) allows restrictions on the rows selected
    * a GROUP BY clause is required before HAVING
* LIMIT (optional) reduces the number of rows retrieved to the number provided after this clause
* In most SQL clients, the ";" indicates the end of a statement and requests execution

In [28]:
# In every SQLite database, there is a special table: sqlite_master
# sqlite_master -  describes the contents of the database

sql = '''SELECT type, name FROM sqlite_master LIMIT 5;'''
cursor.execute(sql)

In [29]:
for row in cursor:
    print(row)

('table', 'metadata')
('index', 'sqlite_autoindex_metadata_1')
('table', 'map_metadata')
('table', 'map_counts')
('index', 'sqlite_autoindex_map_counts_1')

In [30]:
sql = '''
SELECT * FROM sqlite_master;
'''
cursor.execute(sql)

In [31]:
# See the result header

cursor.description

(('type', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('tbl_name', None, None, None, None, None, None),
 ('rootpage', None, None, None, None, None, None),
 ('sql', None, None, None, None, None, None))

In [22]:
def get_header(cursor):
    '''
    Makes a tab delimited header row from the cursor description.
    Arguments:
        cursor: a cursor after a select query
    Returns:
        string: A string consisting of the column names separated by tabs, no new line
    '''
    return '\t'.join([row[0] for row in cursor.description])

#### Different ways to retrieve results - observe the different data structures displayed

In [ ]:
# See the result

cursor.execute(sql)
print("Iterate through the cursor:")
for row in cursor: 
    print(row)
    
print()

cursor.execute(sql)
print("Use the Cursor fetchall() method:")
cursor.fetchall()

In [21]:
def get_results(cursor):
    '''
    Makes a tab delimited table from the cursor results.
    Arguments:
        cursor: a cursor after a select query
    Returns:
        string: A string consisting of the column names separated by tabs, no new line
    ''' 
    res = list()
    for row in cursor.fetchall():        
        res.append('\t'.join(list(map(str,row))))
    return "\n".join(res)

In [32]:
cursor.execute(sql)

print(get_header(cursor))
print(get_results(cursor))

type	name	tbl_name	rootpage	sql
table	metadata	metadata	2	CREATE TABLE metadata (name VARCHAR(80) PRIMARY KEY, value VARCHAR(255) )
index	sqlite_autoindex_metadata_1	metadata	3	None
table	map_metadata	map_metadata	4	CREATE TABLE map_metadata (
      map_name VARCHAR(80) NOT NULL,
      source_name VARCHAR(80) NOT NULL,
      source_url VARCHAR(255) NOT NULL,
      source_date VARCHAR(20) NOT NULL
    )
table	map_counts	map_counts	5	CREATE TABLE map_counts (
      map_name VARCHAR(80) PRIMARY KEY,
      count INTEGER NOT NULL
    )
index	sqlite_autoindex_map_counts_1	map_counts	6	None
table	genes	genes	7	CREATE TABLE genes (
      _id INTEGER PRIMARY KEY,
      gene_id VARCHAR(10) NOT NULL UNIQUE           -- Entrez Gene ID
    )
index	sqlite_autoindex_genes_1	genes	8	None
table	gene_info	gene_info	9	CREATE TABLE gene_info (
      _id INTEGER NOT NULL UNIQUE,                  -- REFERENCES  genes
      gene_name VARCHAR(255) NOT NULL,              -- gene name
      symbol VARCHAR(80) NOT NULL,                  -- gene symbol
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
index	sqlite_autoindex_gene_info_1	gene_info	10	None
table	chromosomes	chromosomes	11	CREATE TABLE chromosomes (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      chromosome VARCHAR(2) NOT NULL,               -- chromosome name
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	accessions	accessions	12	CREATE TABLE accessions (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      accession VARCHAR(20) NOT NULL,               -- GenBank accession number
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	cytogenetic_locations	cytogenetic_locations	13	CREATE TABLE cytogenetic_locations (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      cytogenetic_location VARCHAR(20) NOT NULL,    -- cytoband location
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	omim	omim	14	CREATE TABLE omim (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      omim_id CHAR(6) NOT NULL,                     -- OMIM ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	refseq	refseq	15	CREATE TABLE refseq (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      accession VARCHAR(20) NOT NULL,               -- RefSeq accession number
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	pubmed	pubmed	16	CREATE TABLE pubmed (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      pubmed_id VARCHAR(10) NOT NULL,               -- PubMed ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	unigene	unigene	17	CREATE TABLE unigene (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      unigene_id VARCHAR(10) NOT NULL,              -- UniGene ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	chrlengths	chrlengths	18	CREATE TABLE chrlengths (
      chromosome VARCHAR(2) PRIMARY KEY,                   -- chromosome name
      length INTEGER NOT NULL
    )
index	sqlite_autoindex_chrlengths_1	chrlengths	19	None
table	go_bp	go_bp	20	CREATE TABLE go_bp (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	go_mf	go_mf	21	CREATE TABLE go_mf (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	go_cc	go_cc	22	CREATE TABLE go_cc (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	go_bp_all	go_bp_all	25	CREATE TABLE go_bp_all (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	go_mf_all	go_mf_all	26	CREATE TABLE go_mf_all (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	go_cc_all	go_cc_all	27	CREATE TABLE go_cc_all (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	kegg	kegg	28	CREATE TABLE kegg (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      path_id CHAR(5) NOT NULL,                     -- KEGG pathway short ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ec	ec	29	CREATE TABLE ec (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ec_number VARCHAR(13) NOT NULL,               -- EC number
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	chromosome_locations	chromosome_locations	30	CREATE TABLE chromosome_locations (
      _id INTEGER NOT NULL,                      -- REFERENCES  genes
      seqname VARCHAR(20) NOT NULL,              -- sequence name
      start_location INTEGER NOT NULL,
      end_location INTEGER NOT NULL,
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	pfam	pfam	31	CREATE TABLE pfam (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ipi_id CHAR(11),                     -- IPI accession number
      pfam_id CHAR(7) NULL,                         -- Pfam ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	prosite	prosite	32	CREATE TABLE prosite (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ipi_id CHAR(11),                     -- IPI accession number
      prosite_id CHAR(7) NULL,                      -- PROSITE ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	alias	alias	33	CREATE TABLE alias (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      alias_symbol VARCHAR(80) NOT NULL,            -- gene symbol or alias
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ensembl	ensembl	34	CREATE TABLE ensembl (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ensembl_id VARCHAR(20) NOT NULL,              -- ensembl id
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ensembl2ncbi	ensembl2ncbi	35	CREATE TABLE ensembl2ncbi (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ensembl_id VARCHAR(20) NOT NULL,              -- ensembl id
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ncbi2ensembl	ncbi2ensembl	36	CREATE TABLE ncbi2ensembl (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ensembl_id VARCHAR(20) NOT NULL,              -- ensembl id
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ensembl_prot	ensembl_prot	37	CREATE TABLE ensembl_prot (
      _id INTEGER NOT NULL,                          -- REFERENCES  genes
      prot_id VARCHAR(20) NOT NULL,                  -- Ensembl Protein ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ensembl_trans	ensembl_trans	38	CREATE TABLE ensembl_trans (
      _id INTEGER NOT NULL,                          -- REFERENCES  genes
      trans_id VARCHAR(20) NOT NULL,                  -- Ensembl Transcript ID
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	uniprot	uniprot	40	CREATE TABLE uniprot (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      uniprot_id VARCHAR(20) NOT NULL,              -- uniprot id
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	ucsc	ucsc	41	CREATE TABLE ucsc (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      ucsc_id VARCHAR(20) NOT NULL,              -- uniprot id
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )
table	sqlite_stat1	sqlite_stat1	42	CREATE TABLE sqlite_stat1(tbl,idx,stat)
table	sqlite_stat4	sqlite_stat4	43	CREATE TABLE sqlite_stat4(tbl,idx,neq,nlt,ndlt,sample)
index	Fchromosomes	chromosomes	44	CREATE INDEX Fchromosomes ON chromosomes (_id)
index	Faccessions	accessions	45	CREATE INDEX Faccessions ON accessions (_id)
index	Fcytogenetic_locations	cytogenetic_locations	46	CREATE INDEX Fcytogenetic_locations ON cytogenetic_locations (_id)
index	Fomim	omim	47	CREATE INDEX Fomim ON omim (_id)
index	Frefseq	refseq	48	CREATE INDEX Frefseq ON refseq (_id)
index	Fpubmed	pubmed	49	CREATE INDEX Fpubmed ON pubmed (_id)
index	Funigene	unigene	50	CREATE INDEX Funigene ON unigene (_id)
index	Fgo_bp	go_bp	51	CREATE INDEX Fgo_bp ON go_bp (_id)
index	Fgo_bp_go_id	go_bp	52	CREATE INDEX Fgo_bp_go_id ON go_bp (go_id)
index	Fgo_mf	go_mf	53	CREATE INDEX Fgo_mf ON go_mf (_id)
index	Fgo_mf_go_id	go_mf	54	CREATE INDEX Fgo_mf_go_id ON go_mf (go_id)
index	Fgo_cc	go_cc	55	CREATE INDEX Fgo_cc ON go_cc (_id)
index	Fgo_cc_go_id	go_cc	56	CREATE INDEX Fgo_cc_go_id ON go_cc (go_id)
index	Fgo_bp_all	go_bp_all	57	CREATE INDEX Fgo_bp_all ON go_bp_all (_id)
index	Fgo_bp_all_go_id	go_bp_all	58	CREATE INDEX Fgo_bp_all_go_id ON go_bp_all (go_id)
index	Fgo_mf_all	go_mf_all	59	CREATE INDEX Fgo_mf_all ON go_mf_all (_id)
index	Fgo_mf_all_go_id	go_mf_all	60	CREATE INDEX Fgo_mf_all_go_id ON go_mf_all (go_id)
index	Fgo_cc_all	go_cc_all	61	CREATE INDEX Fgo_cc_all ON go_cc_all (_id)
index	Fgo_cc_all_go_id	go_cc_all	62	CREATE INDEX Fgo_cc_all_go_id ON go_cc_all (go_id)
index	Fkegg	kegg	63	CREATE INDEX Fkegg ON kegg (_id)
index	Fec	ec	64	CREATE INDEX Fec ON ec (_id)
index	Fchromosome_locations	chromosome_locations	65	CREATE INDEX Fchromosome_locations ON chromosome_locations (_id)
index	Fpfam	pfam	66	CREATE INDEX Fpfam ON pfam (_id)
index	Fprosite	prosite	67	CREATE INDEX Fprosite ON prosite (_id)
index	Falias	alias	68	CREATE INDEX Falias ON alias (_id)
index	Fensembl	ensembl	69	CREATE INDEX Fensembl ON ensembl (_id)
index	Fensembl2ncbi	ensembl2ncbi	70	CREATE INDEX Fensembl2ncbi ON ensembl2ncbi (_id)
index	Fncbi2ensembl	ncbi2ensembl	71	CREATE INDEX Fncbi2ensembl ON ncbi2ensembl (_id)
index	Fensemblp	ensembl_prot	72	CREATE INDEX Fensemblp ON ensembl_prot (_id)
index	Fensemblt	ensembl_trans	73	CREATE INDEX Fensemblt ON ensembl_trans (_id)
index	Funiprot	uniprot	74	CREATE INDEX Funiprot ON uniprot (_id)
index	Fucsc	ucsc	75	CREATE INDEX Fucsc ON ucsc (_id)
view	go	go	0	CREATE VIEW go AS
SELECT _id,go_id,evidence, 'BP' AS 'ontology' FROM go_bp
UNION
SELECT _id,go_id,evidence, 'CC' FROM go_cc
UNION
SELECT _id,go_id,evidence, 'MF' FROM go_mf
view	go_all	go_all	0	CREATE VIEW go_all AS
SELECT _id,go_id,evidence, 'BP' AS 'ontology'  FROM go_bp_all
UNION
SELECT _id,go_id,evidence, 'CC' FROM go_cc_all
UNION
SELECT _id,go_id,evidence, 'MF' FROM go_mf_all
table	sqlite_sequence	sqlite_sequence	70439	CREATE TABLE sqlite_sequence(name,seq)

In [33]:
# WHERE clause example (-- denotes comment)
# more examples later

sql = '''
SELECT name, type
FROM sqlite_master 
WHERE type= "Table"; -- condition that allows the selection of specific rows
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

name	type

In [36]:
sql = '''
SELECT name, type
FROM sqlite_master 
Where type = "table"; -- condition that allows the selection of specific rows
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

name	type
metadata	table
map_metadata	table
map_counts	table
genes	table
gene_info	table
chromosomes	table
accessions	table
cytogenetic_locations	table
omim	table
refseq	table
pubmed	table
unigene	table
chrlengths	table
go_bp	table
go_mf	table
go_cc	table
go_bp_all	table
go_mf_all	table
go_cc_all	table
kegg	table
ec	table
chromosome_locations	table
pfam	table
prosite	table
alias	table
ensembl	table
ensembl2ncbi	table
ncbi2ensembl	table
ensembl_prot	table
ensembl_trans	table
uniprot	table
ucsc	table
sqlite_stat1	table
sqlite_stat4	table
sqlite_sequence	table

In [37]:
# Selects all columns (*) of the gene ontology biological process table (go_bp) 
# retrieves only 10 rows due to the LIMIT clause
# The first column is the gene id

sql = '''
SELECT *
FROM go_bp 
LIMIT 10;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
1	GO:0002576	TAS
1	GO:0008150	ND
1	GO:0043312	TAS
2	GO:0001869	IDA
2	GO:0002576	TAS
2	GO:0007597	TAS
2	GO:0010951	IEA
2	GO:0022617	TAS
2	GO:0048863	IEA
2	GO:0051056	TAS

Aliasing column names to make them easier to understand - add a new name for a column next to the column name using quotes if the alias contains spaces, the AS keyword can also be used
- e.g.: column_name AS "Alias name"
- e.g.: column_name "Alias name"
- e.g.: column_name Alias_name

In [38]:
sql = '''
SELECT _id "Gene ID", symbol Symbol, gene_name AS Name
FROM gene_info LIMIT 5;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

Gene ID	Symbol	Name
1	A1BG	alpha-1-B glycoprotein
2	A2M	alpha-2-macroglobulin
3	A2MP1	alpha-2-macroglobulin pseudogene 1
4	NAT1	N-acetyltransferase 1
5	NAT2	N-acetyltransferase 2

In [40]:
#select first 50 rows from the genes table - all columns
sql = '''
SELECT *
FROM genes 
LIMIT 50;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	gene_id
1	1
2	2
3	3
4	9
5	10
6	11
7	12
8	13
9	14
10	15
11	16
12	17
13	18
14	19
15	20
16	21
17	22
18	23
19	24
20	25
21	26
22	27
23	28
24	29
25	30
26	31
27	32
28	33
29	34
30	35
31	36
32	37
33	38
34	39
35	40
36	41
37	43
38	46
39	47
40	48
41	49
42	50
43	51
44	52
45	53
46	54
47	55
48	56
49	58
50	59

In [41]:
# COUNT returns a single number, which is the count of all rows in the table

sql = '''
Select count(*) FROM genes;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

count(*)
61521

In [42]:
sql = '''
SELECT count(_id) AS 'Number of genes' 
FROM genes;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

Number of genes
61521

In [43]:
# DISTINCT selects  non-duplicated elements (rows)

sql = '''
SELECT _id Identifier FROM go_bp LIMIT 5;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

print()

sql = '''
SELECT DISTINCT _id Identifier FROM go_bp LIMIT 5;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

Identifier
1
1
1
2
2

Identifier
1
2
4
5
7

In [44]:
# Other aggregate functions are available for numerical columns
# https://www.sqlite.org/lang_aggfunc.html
# comments are added using -- in front of the test to comment or using /* comment */ 

sql = '''
SELECT MIN(DISTINCT _id) MIN_ID 
FROM go_bp; --comment LIMIT 5; /* comment */
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

MIN_ID
1

In [45]:
# count the number of rows in go_bp

sql = '''
SELECT count(_id) AS 'Number of rows' 
FROM go_bp;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

Number of rows
130884

In [46]:
# count the number of distinct genes in go_bp

sql = '''
SELECT DISTINCT count(_id) AS 'Number of rows' 
FROM go_bp;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

Number of rows
130884

In [47]:
sql = '''
SELECT count(DISTINCT _id) AS 'Number of distinct genes' 
FROM go_bp;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

Number of distinct genes
17913

#### WHERE clause operators
https://www.sqlite.org/lang_expr.html

<> ,  != 	inequality <br>
<			less than <br>
<= 			less than or equal <br>
=			equal <br>
'>			greater than <br>
'>= 		greater than or equal <br>
BETWEEN v1 AND v2	tests that a value to lies in a given range <br>
EXISTS		test for existence of rows matching query <br>
IN			tests if a value falls within a given set or query <br>
IS [ NOT ] NULL	is or is not null <br>
[ NOT ] LIKE		tests value to see if like or not like another <br>

% is the wildcard in SQL, used in conjunction with LIKE

In [48]:
sql = '''
SELECT * FROM go_bp 
WHERE _id = '1';
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
1	GO:0002576	TAS
1	GO:0008150	ND
1	GO:0043312	TAS

In [49]:
sql = '''
SELECT * FROM go_bp 
WHERE _id IN (1,5,7);
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
1	GO:0002576	TAS
1	GO:0008150	ND
1	GO:0043312	TAS
5	GO:0006805	TAS
7	GO:0002576	TAS
7	GO:0006953	IEA
7	GO:0006954	NAS
7	GO:0019216	NAS
7	GO:0030277	NAS
7	GO:0043312	TAS

The evidence column in the go_bp table describes the type of evidence that was used for the link between the gene and the biological process.  
http://geneontology.org/docs/guide-go-evidence-codes/
* Inferred from Experiment (EXP)
* Inferred from Direct Assay (IDA)
* Inferred from Physical Interaction (IPI)
* Inferred from Mutant Phenotype (IMP)
* Inferred from Genetic Interaction (IGI)
* Inferred from Expression Pattern (IEP)
* Inferred from High Throughput Experiment (HTP)
* Inferred from High Throughput Direct Assay (HDA)
* Inferred from High Throughput Mutant Phenotype (HMP)
* Inferred from High Throughput Genetic Interaction (HGI)
* Inferred from High Throughput Expression Pattern (HEP)
* Inferred from Biological aspect of Ancestor (IBA)
* Inferred from Biological aspect of Descendant (IBD)
* Inferred from Key Residues (IKR)
* Inferred from Rapid Divergence (IRD)
* Inferred from Sequence or structural Similarity (ISS)
* Inferred from Sequence Orthology (ISO)
* Inferred from Sequence Alignment (ISA)
* Inferred from Sequence Model (ISM)
* Inferred from Genomic Context (IGC)
* Inferred from Reviewed Computational Analysis (RCA)
* Traceable Author Statement (TAS)
* Non-traceable Author Statement (NAS)
* Inferred by Curator (IC)
* No biological Data available (ND)
* Inferred from Electronic Annotation (IEA)

In [52]:
sql = '''
SELECT * FROM go_bp 
WHERE evidence = 'ND' AND _id BETWEEN 20 AND 2000 
LIMIT 30
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
170	GO:0008150	ND
514	GO:0008150	ND
516	GO:0008150	ND
618	GO:0008150	ND
619	GO:0008150	ND
667	GO:0008150	ND
702	GO:0008150	ND
815	GO:0008150	ND
1153	GO:0008150	ND
1181	GO:0008150	ND
1253	GO:0008150	ND
1407	GO:0008150	ND
1575	GO:0008150	ND
1577	GO:0008150	ND
1688	GO:0008150	ND
1693	GO:0008150	ND
1708	GO:0008150	ND
1765	GO:0008150	ND
1773	GO:0008150	ND
1891	GO:0008150	ND

In [53]:
sql = '''
SELECT * 
FROM go_bp
WHERE go_id LIKE '%0081%' 
LIMIT 10;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
1	GO:0008150	ND
163	GO:0008104	IDA
170	GO:0008150	ND
399	GO:0060081	IEA
451	GO:0008156	IMP
479	GO:0008104	ISS
487	GO:2000811	IMP
495	GO:0008104	IEA
514	GO:0008150	ND
516	GO:0008150	ND

In [54]:
# Retrieve rows from go_bp where the go_id is GO:0008104 and evidence is IEA or IDA

sql = '''
SELECT * 
FROM go_bp
WHERE 
    go_id = 'GO:0008104' AND
    evidence IN ('IEA', 'IDA');
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
163	GO:0008104	IDA
495	GO:0008104	IEA
807	GO:0008104	IDA
1394	GO:0008104	IEA
2279	GO:0008104	IEA
3422	GO:0008104	IEA
3802	GO:0008104	IEA
3900	GO:0008104	IDA
3922	GO:0008104	IEA
5279	GO:0008104	IEA
5819	GO:0008104	IDA
7071	GO:0008104	IEA
7722	GO:0008104	IDA
8990	GO:0008104	IDA
10012	GO:0008104	IDA
10366	GO:0008104	IEA
10395	GO:0008104	IEA
11969	GO:0008104	IDA
13897	GO:0008104	IEA
13976	GO:0008104	IEA
14535	GO:0008104	IEA
16381	GO:0008104	IDA
17218	GO:0008104	IDA
19318	GO:0008104	IEA
19647	GO:0008104	IDA
26292	GO:0008104	IDA

In [58]:
# ORDER BY (optional) - indicates a sort order given by a column in the the output data and the sort order: ASC or DESC

sql = '''
SELECT *
FROM go_bp 
WHERE evidence="EXP"
ORDER BY _id  DESC
LIMIT 20;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_id	evidence
22238	GO:0099054	EXP
20645	GO:1905606	EXP
20645	GO:0099179	EXP
20268	GO:0098700	EXP
18313	GO:0050807	EXP
17225	GO:1905606	EXP
17225	GO:0099560	EXP
16555	GO:1905606	EXP
16555	GO:0050807	EXP
16182	GO:1905606	EXP
16182	GO:0099560	EXP
16182	GO:0050807	EXP
15344	GO:0099173	EXP
14015	GO:0099175	EXP
13855	GO:2000300	EXP
10426	GO:0098962	EXP
10123	GO:1905606	EXP
9837	GO:0099575	EXP
9539	GO:0098962	EXP
9244	GO:0098696	EXP

____
Sqlite3 also has some PRAGMA methods <br>
This is an SQL extension specific to SQLite that is used to modify the operation of the SQLite library or to query the SQLite library for internal (non-table) data <br>
https://www.sqlite.org/pragma.html <br>
The code below shows how to get the schema (columns and columns information)

In [59]:
sql = 'PRAGMA table_info("go_bp")'
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

cid	name	type	notnull	dflt_value	pk
0	_id	INTEGER	1	None	0
1	go_id	CHAR(10)	1	None	0
2	evidence	CHAR(3)	1	None	0

In [60]:
sql = '''SELECT * FROM pragma_table_info("go_bp")  '''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

cid	name	type	notnull	dflt_value	pk
0	_id	INTEGER	1	None	0
1	go_id	CHAR(10)	1	None	0
2	evidence	CHAR(3)	1	None	0

___

In [61]:
sql = '''
    SELECT DISTINCT _id 
    FROM go_bp
    WHERE go_id == 'GO:0008104'; 
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id
163
479
495
703
705
807
1394
1471
1679
2279
3422
3456
3802
3900
3922
3973
5279
5819
5900
6619
6647
7006
7071
7084
7218
7631
7722
7724
8218
8502
8759
8868
8903
8990
9114
9117
9354
9515
9786
10012
10366
10395
11715
11969
13232
13897
13976
14535
15305
16381
16608
16674
17218
18628
18658
19318
19647
24489
26292

In [62]:
# SUB-QUERY - we can have a query in a query

sql = '''
SELECT _id, symbol, gene_name 
FROM gene_info
WHERE _id IN
    (SELECT DISTINCT _id 
    FROM go_bp
    WHERE go_id == 'GO:0008104'); 
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	symbol	gene_name
163	NR0B1	nuclear receptor subfamily 0 group B member 1
479	BBS2	Bardet-Biedl syndrome 2
495	BCL6	BCL6 transcription repressor
703	CAV1	caveolin 1
705	CAV3	caveolin 3
807	CD81	CD81 molecule
1394	DHCR24	24-dehydrocholesterol reductase
1471	DRD2	dopamine receptor D2
1679	ERCC3	ERCC excision repair 3, TFIIH core complex helicase subunit
2279	GNGT1	G protein subunit gamma transducin 1
3422	MECP2	methyl-CpG binding protein 2
3456	MGAT3	mannosyl (beta-1,4-)-glycoprotein beta-1,4-N-acetylglucosaminyltransferase
3802	NEDD8	NEDD8 ubiquitin like modifier
3900	NPM1	nucleophosmin 1
3922	NRCAM	neuronal cell adhesion molecule
3973	ODF2	outer dense fiber of sperm tails 2
5279	SLC9A2	solute carrier family 9 member A2
5819	TP53	tumor protein p53
5900	TSC2	TSC complex subunit 2
6619	ULK1	unc-51 like autophagy activating kinase 1
6647	DOC2B	double C2 domain beta
7006	SQSTM1	sequestosome 1
7071	PLOD3	procollagen-lysine,2-oxoglutarate 5-dioxygenase 3
7084	HAP1	huntingtin associated protein 1
7218	AP4M1	adaptor related protein complex 4 subunit mu 1
7631	CROCC	ciliary rootlet coiled-coil, rootletin
7722	PHYHIP	phytanoyl-CoA 2-hydroxylase interacting protein
7724	IST1	IST1 factor associated with ESCRT-III
8218	CACNG3	calcium voltage-gated channel auxiliary subunit gamma 3
8502	AP4B1	adaptor related protein complex 4 subunit beta 1
8759	RAB35	RAB35, member RAS oncogene family
8868	AP4S1	adaptor related protein complex 4 subunit sigma 1
8903	CEP250	centrosomal protein 250
8990	DDX42	DEAD-box helicase 42
9114	MAPRE1	microtubule associated protein RP/EB family member 1
9117	MAPRE3	microtubule associated protein RP/EB family member 3
9354	VPS13A	vacuolar protein sorting 13 homolog A
9515	AP4E1	adaptor related protein complex 4 subunit epsilon 1
9786	CBY1	chibby family member 1, beta catenin antagonist
10012	GGA1	golgi associated, gamma adaptin ear containing, ARF binding protein 1
10366	NBEA	neurobeachin
10395	MLH3	mutL homolog 3
11715	NIN	ninein
11969	CUTA	cutA divalent cation tolerance homolog
13232	BIN3	bridging integrator 3
13897	ALS2	alsin Rho guanine nucleotide exchange factor ALS2
13976	CADM3	cell adhesion molecule 3
14535	WNK4	WNK lysine deficient protein kinase 4
15305	CCDC68	coiled-coil domain containing 68
16381	TNS4	tensin 4
16608	CCDC120	coiled-coil domain containing 120
16674	DUOXA1	dual oxidase maturation factor 1
17218	STK11IP	serine/threonine kinase 11 interacting protein
18628	CEP128	centrosomal protein 128
18658	CDAN1	codanin 1
19318	GRASP	general receptor for phosphoinositides 1 associated scaffold protein
19647	SPTSSA	serine palmitoyltransferase small subunit A
24489	DUOXA2	dual oxidase maturation factor 2
26292	AKAIN1	A-kinase anchor inhibitor 1

In [63]:
# GROUP BY groups by a column and creates summary data for a different column
# count entries for each GO term

sql = '''
SELECT go_id, count(*) 
FROM go_bp 
GROUP BY go_id 
LIMIT 10;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

go_id	count(*)
GO:0000002	11
GO:0000003	1
GO:0000012	9
GO:0000018	6
GO:0000019	2
GO:0000022	2
GO:0000023	3
GO:0000027	7
GO:0000028	4
GO:0000038	13

In [64]:
# specify column in aggregate function and alias the name of the columns

sql = '''
SELECT go_id as "GO Term ID", count(_id) as "Gene Number" 
FROM go_bp 
GROUP BY go_id 
LIMIT 10;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

GO Term ID	Gene Number
GO:0000002	11
GO:0000003	1
GO:0000012	9
GO:0000018	6
GO:0000019	2
GO:0000022	2
GO:0000023	3
GO:0000027	7
GO:0000028	4
GO:0000038	13

In [65]:
# HAVING allows restrictions on the rows used or selected
# a GROUP BY clause is required before HAVING

sql = '''
SELECT go_id, count(_id) as gene_no 
FROM go_bp 
GROUP BY go_id
HAVING gene_no>500;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

go_id	gene_no
GO:0000122	770
GO:0006357	924
GO:0006396	544
GO:0006915	547
GO:0007165	830
GO:0007186	942
GO:0008150	619
GO:0008284	525
GO:0016567	519
GO:0035195	854
GO:0043066	519
GO:0045892	542
GO:0045893	628
GO:0045944	1161
GO:0055114	507

In [66]:
# Select gene ids with more than 100 biological processes associated

sql = '''
SELECT _id, count(go_id) as go_term_no 
FROM go_bp 
GROUP BY _id
HAVING go_term_no>100;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

_id	go_term_no
20	105
175	152
294	114
296	106
487	116
534	163
1229	149
1578	102
1832	108
2021	108
2137	109
2906	103
4058	121
4607	112
5209	144
5382	119
5427	108
5710	199
5712	103
5791	159
5819	148
6042	105
6084	148
8982	103
9499	128
17545	105

#### A `PRIMARY KEY` is a very important concept to understand.  
* It is the designation for a column or a set of columns from a table.
* It is recommended to be a serial value and not something related to the business needs of the data in the table.

* A primary key is used to uniquely identify a row of data; combined with a column name, uniquely locates a data entry
* A primary key by definition must be `UNIQUE` and `NOT NULL` 
* The primary key of a table, should be a (sequential) non-repeating and not null value  
* Primary keys are generally identified at time of table creation  
* A common method for generating a primary key, is to set the datatype to `INTEGER` and declare `AUTOINCREMENT` which will function when data is inserted into the table
* Primary keys can be a composite of 2 or more columns that uniquely identify the data in the table

#### A `FOREIGN KEY` is a column(s) that points to the `PRIMARY KEY` of another table 

* The purpose of the foreign key is to ensure referential integrity of the data. 
In other words, only values that are supposed to appear in the database are permitted.<br>
Only the values that exist in the `PRIMARY KEY` column are allowed to be present in the FOREIGN KEY column.
Example: A `gene` table has the `PRIMARY KEY` `gene_id`. The GO2_gene GO term is associated with a gene

They are also the underpinning of how tables are joined and relationships portrayed in the database

#### JOIN tables

* Multiple tables contain different data that we want to retrieve from a single query
* In order to assemble data as part of a query, a JOIN between tables is needed
* This is a very common practice, since it’s rare for all the data you want to be in a single table


* INNER JOIN - return only those rows where there is matching content in BOTH tables (is the default when JOIN is used)
* OUTER JOIN - returns all rows from both tables even if one of the tables is blank
* SELF JOIN - can be used to join a table to itself (through aliasing), to compare data internal to the table

```sql
SELECT ... FROM table1 [INNER] JOIN table2 ON conditional_expression
```

In [68]:
sql = '''
SELECT gi.symbol,go_id, evidence
FROM gene_info AS gi
    INNER JOIN go_bp AS go
        ON gi._id = go._id
WHERE evidence = "ND"
LIMIT 5;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

symbol	go_id	evidence
A1BG	GO:0008150	ND
CRYBG1	GO:0008150	ND
BFSP1	GO:0008150	ND
BGN	GO:0008150	ND
TMEM50B	GO:0008150	ND

#### See the create table statement

In [69]:
# sql column in the sqlite_master table

sql = '''
SELECT sql
FROM sqlite_master 
WHERE type= "table" and name == "go_bp"
LIMIT 2;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

sql
CREATE TABLE go_bp (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )

### CREATE TABLE  - statement
https://www.sqlitetutorial.net/sqlite-create-table/

```sql
CREATE TABLE [IF NOT EXISTS] [schema_name].table_name (
    column_1 data_type PRIMARY KEY,
    column_2 data_type NOT NULL,
    column_3 data_type DEFAULT 0,
    table_constraints
) [WITHOUT ROWID];
```

In this syntax:

* First, specify the name of the table that you want to create after the CREATE TABLE keywords. The name of the table cannot start with sqlite_ because it is reserved for the internal use of SQLite.
* Second, use `IF NOT EXISTS` option to create a new table if it does not exist. Attempting to create a table that already exists without using the IF NOT EXISTS option will result in an error.
* Third, optionally specify the schema_name to which the new table belongs. The schema can be the main database, temp database or any attached database.
* Fourth, specify the column list of the table. Each column has a name, data type, and the column constraint. SQLite supports `PRIMARY KEY, UNIQUE, NOT NULL`, and `CHECK` column constraints.
* Fifth, specify the table constraints such as PRIMARY KEY, FOREIGN KEY, UNIQUE, and CHECK constraints.
* Finally, optionally use the `WITHOUT ROWID` option. By default, a row in a table has an implicit column, which is referred to as the rowid, oid or _rowid_ column. The rowid column stores a 64-bit signed integer key that uniquely identifies the row inside the table. If you don’t want SQLite creates the rowid column, you specify the WITHOUT ROWID option. A table that contains the rowid column is known as a rowid table. Note that the WITHOUT ROWID option is only available in SQLite 3.8.2 or later.

https://www.sqlite.org/syntaxdiagrams.html#create-table-stmt

<img src = "https://www.sqlite.org/images/syntax/create-table-stmt.gif" width="800"/>

Each value stored in an SQLite database (or manipulated by the database engine) has one of the following storage classes:
https://www.sqlite.org/datatype3.html
* `NULL`. The value is a NULL value.
* `INTEGER`. The value is a signed integer, stored in 1, 2, 3, 4, 6, or 8 bytes depending on the magnitude of the value.
* `REAL`. The value is a floating point value, stored as an 8-byte IEEE floating point number.
* `TEXT`. The value is a text string, stored using the database encoding (UTF-8, UTF-16BE or UTF-16LE).
* `BLOB`. The value is a blob of data, stored exactly as it was input.

#### A `PRIMARY KEY` is a very important concept to understand.  
* It is the designation for a column or a set of columns from a table.
* It is recommended to be a serial value and not something related to the business needs of the data in the table.

* A primary key is used to uniquely identify a row of data; combined with a column name, uniquely locates a data entry
* A primary key by definition must be `UNIQUE` and `NOT NULL` 
* The primary key of a table, should be a (sequential) non-repeating and not null value  
* Primary keys are generally identified at time of table creation  
* A common method for generating a primary key, is to set the datatype to `INTEGER` and declare `AUTOINCREMENT` which will function when data is inserted into the table
* Primary keys can be a composite of 2 or more columns that uniquely identify the data in the table

#### A `FOREIGN KEY` is a column(s) that points to the `PRIMARY KEY` of another table 

* The purpose of the foreign key is to ensure referential integrity of the data. 
In other words, only values that are supposed to appear in the database are permitted.<br>
Only the values that exist in the `PRIMARY KEY` column are allowed to be present in the FOREIGN KEY column.
Example: A `gene` table has the `PRIMARY KEY` `gene_id`. The GO2_gene GO term is associated with a gene

They are also the underpinning of how tables are joined and relationships portrayed in the database

The `sqlite_master` has the following create statement: 
```sql
CREATE TABLE sqlite_master ( type TEXT, name TEXT, tbl_name TEXT, rootpage INTEGER, sql TEXT );
```

##### The `connection` object methods can be used to save or revert/reset the changes after a command that makes changes to the database
##### `COMMIT` - save the changes 
##### `ROLLBACK` - revert the changes

In [70]:
# Check for tables with a name like go_bp

sql = '''
SELECT name
FROM sqlite_master 
WHERE name LIKE "go_bp%"
LIMIT 4;
'''
cursor.execute(sql)
print(cursor.fetchall())

[('go_bp',), ('go_bp_all',)]

In [71]:
# select the sql statement for the go_bp table

sql = '''
SELECT sql
FROM sqlite_master 
WHERE name = "go_bp";
'''
cursor.execute(sql)
print(cursor.fetchall()[0][0])

CREATE TABLE go_bp (
      _id INTEGER NOT NULL,                         -- REFERENCES  genes
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(3) NOT NULL,                    -- GO evidence code
      FOREIGN KEY (_id) REFERENCES  genes  (_id)
    )

#### We create the table `go_bp_ALT` with the columns: `ggo_id`, `gene_id`, `go_id` and `evidence`

In [72]:
# Write and run a create table statement for an alternative go_bp_ALT table

sql='''
CREATE TABLE IF NOT EXISTS go_bp_ALT (
      ggo_id INTEGER PRIMARY KEY AUTOINCREMENT,
      gene_id INTEGER NOT NULL,                     -- REFERENCES  genes _id 
      go_id CHAR(10) NOT NULL,                      -- GO ID
      evidence CHAR(30) NOT NULL,                   -- GO evidence information
      FOREIGN KEY (gene_id) REFERENCES  genes  (_id)
    );
'''
try:
    cursor.execute(sql)
except connection.DatabaseError:
    print("Creating the go_bp_ALT table resulted in a database error!")
    connection.rollback()
    raise
else:
    connection.commit()
finally:
    print("done!")

done!

##### Similar error handling, as seen above, can be when executing any statement that changes the database.

##### Check if the new table appears in the `sqlite_master` table

In [73]:
sql = '''
SELECT name
FROM sqlite_master 
WHERE name LIKE "go_bp%"
LIMIT 4;
'''
cursor.execute(sql)
print(cursor.fetchall())

[('go_bp',), ('go_bp_all',), ('go_bp_ALT',)]

  
<br><br> 
The `sqlite_sequence` table is created and initialized automatically whenever a regular table is created if it has a column with the `AUTOINCREMENT` option set.<br>
https://www.sqlite.org/autoinc.html

##### Check if the new table appears in the `sqlite_master` table

### INDEXING

Indexes are lookup table, like the index of a book.
They are usually created for columns that have unique/ or less redundant values and provide a way to quicky search 
the values.<br>
Indexing creates a copy of the indexed columns together with a link to the location of the additional information.<br> 
The index data is stored in a data structure that allows for fast sorting. <br>
E.g.: balanced-tree - every leaf is at most n nodes away from the root) that allows for fast sorting. <br>
All queries (statements) regarding an indexed table are applied to the index


* One important function in Relational Databases is to be able to create indexes on columns in tables  
* These indexes are pre-calculated and stored in the database 
* Indexes should be created on columns that are used in queries and joins   
* They will rapidly speed up query return rate and improve query performance

To create an index use the following command:

```sql
CREATE INDEX indexName ON tableName (columnName)
```

In [74]:
sql = '''
CREATE INDEX gene_go_idx 
ON go_bp_ALT (ggo_id)
'''
cursor.execute(sql)
connection.commit()

##### Check if the new index appears in the `sqlite_master` table

In [75]:
sql = '''
SELECT name, sql
FROM sqlite_master 
WHERE type= "index" AND 
    name = "gene_go_idx";
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

name	sql
gene_go_idx	CREATE INDEX gene_go_idx
ON go_bp_ALT (ggo_id)

#### Remove the index

In [76]:
sql = '''
DROP INDEX gene_go_idx 
'''
cursor.execute(sql)
connection.commit()

##### Check if the index was removed from the `sqlite_master` table

In [77]:
sql = '''
SELECT name, sql
FROM sqlite_master 
WHERE type= "index" AND 
    name = "gene_go_idx";
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

name	sql

### INSERT - statement

Makes changes to the database table<br>
Adds new data to a table (if the constraints are met)
Constraint examples: 
* For one designated column or a group of columns that are designated as Primary Key the values are unique
* The value inserted in a column that has a Foreign Key constraint should exist in the column that it refers to

```sql
INSERT INTO <tablename> (<column1>, <column2>, <column3>) VALUES (value1, value2, value3);
```

##### One simple INSERT command adds 1 row of data at a time into an existing table  

##### Connection object allows us to:
* ##### COMMIT - save the changes 
* ##### ROLLBACK - reverts/discards the changes

<br>

##### Let's see what is in the table (it should be nothing):

In [78]:
sql = '''
SELECT *
FROM go_bp_ALT;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence

<br>

##### Let's try an insert:
```sql
INSERT INTO <tablename> (<column1>, <column2>, <column3>) VALUES (value1, value2, value3);
```

In [83]:
values_list = [1234,"GO:1234","CM_EV"]

sql = '''
INSERT INTO go_bp_ALT (gene_id, go_id, evidence) 
VALUES (?,?,?);
'''
cursor.execute(sql,values_list)
connection.commit()

In [84]:
# This command retrieves the identifier of the last row from the most current query
# The gene_go_id

id_value = cursor.lastrowid
id_value

3

<br>


##### We have a row in the table!!! And the gene_go_id was automatically generated.

In [85]:
sql = '''
SELECT *
FROM go_bp_ALT ;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence
1	1234	GO:1234	CM_EV
2	1234	GO:1234	CM_EV
3	1234	GO:1234	CM_EV

#### You can have a Python "table" structure (list of lists) of insert values and get them all inserted in one command, each sublist having the correct number of values.

In [86]:
values_tbl = [[1235,"GO:1235","CM_EV"], [1236,"GO:1236","CM_EV"], [1236,"GO:1237","CM_EV"]]

sql = '''
INSERT INTO go_bp_ALT (gene_id, go_id, evidence) 
VALUES (?,?,?);
'''
cursor.executemany(sql,values_tbl)
connection.commit()

In [87]:
sql = '''
SELECT *
FROM go_bp_ALT ;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence
1	1234	GO:1234	CM_EV
2	1234	GO:1234	CM_EV
3	1234	GO:1234	CM_EV
4	1235	GO:1235	CM_EV
5	1236	GO:1236	CM_EV
6	1236	GO:1237	CM_EV

#### UPDATE - statement - changes the table rows

MODIFIES DATA (already in a table)  in all rows matching the WHERE clause 

```sql
UPDATE table_name 
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

Update is generally a single row command, but use of the where clause can cause data to be updated in multiple rows <br>
(whether you intended to or not !!!!)

The following statement updates the evidence for all entries for all genes associated with the 2 biological processses

In [88]:
sql = '''
SELECT * 
FROM go_bp_ALT
WHERE gene_id = 1236;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence
5	1236	GO:1236	CM_EV
6	1236	GO:1237	CM_EV

In [89]:
sql = '''
UPDATE go_bp_ALT
SET evidence = "EXP" 
WHERE gene_id = 1236;
'''
cursor.execute(sql)
connection.commit()

In [90]:
sql = '''
SELECT *
FROM go_bp_ALT ;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence
1	1234	GO:1234	CM_EV
2	1234	GO:1234	CM_EV
3	1234	GO:1234	CM_EV
4	1235	GO:1235	CM_EV
5	1236	GO:1236	EXP
6	1236	GO:1237	EXP

#### DELETE - statement - deletes table rows

* MAKES CHANGES TO THE DATA
* Row level deletion – can’t delete less than this. 

```sql
DELETE FROM <tablename> WHERE <column> = <value>
```

* The WHERE predicate is the same as for the SELECT statement, that is, it determines which rows will be deleted

In [91]:
sql = '''
DELETE FROM go_bp_ALT 
WHERE go_id IN ("GO:1234","GO:1236");
'''
cursor.execute(sql)
connection.commit()

In [92]:
sql = '''
SELECT *
FROM go_bp_ALT ;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence
4	1235	GO:1235	CM_EV
6	1236	GO:1237	EXP

```sql
DELETE FROM <tablename>; 
```

* This would delete all rows of data from a table.
* Preserves table structure (table still exists)
* Optimized for speed in SQLite, no row-by-row execution.
* EXISTS <table_name> still evaluates to True

In [93]:
# Delete all data from the table - but keep the table 

sql = '''
DELETE FROM go_bp_ALT;
'''
cursor.execute(sql)
connection.commit()

In [94]:
sql = '''
SELECT *
FROM go_bp_ALT ;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

ggo_id	gene_id	go_id	evidence

<br>

#### `DROP TABLE` - statement - removes a table (permanently)

In [96]:
sql = '''
DROP TABLE go_bp_ALT;
'''
cursor.execute(sql)
connection.commit()

OperationalError: no such table: go_bp_ALT

In [97]:
sql = '''
DROP TABLE IF EXISTS go_bp_ALT;
'''
cursor.execute(sql)
connection.commit()

In [98]:
sql = '''
SELECT name AS "TABLE NAME"
FROM sqlite_master 
WHERE name LIKE "go_bp%";
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

TABLE NAME
go_bp
go_bp_all

#### VIEW in a database

* A view is a virtual table which can be created from a query on existing tables
* Views are created to give a more human readable version of the normalized data / tables
* http://www.sqlitetutorial.net/sqlite-create-view/
* An SQLite view is read only

```sql
CREATE [TEMP] VIEW [IF NOT EXISTS] view_name(column-name-list) AS    
select-statement;
```

In [99]:
# gene go information for easy access
sql = '''
CREATE VIEW IF NOT EXISTS gene_go_info (symbol, go_id, evidence) AS
SELECT symbol, go_id, evidence
FROM gene_info AS gi
    INNER JOIN go_bp AS go
    ON gi._id = go._id
WHERE evidence IN ("EXP","IDA") ;
'''
cursor.execute(sql)
connection.commit()

In [100]:
# gene go information 
sql = '''
SELECT *
FROM gene_go_info
LIMIT 10;
'''
cursor.execute(sql)
print(get_header(cursor))
print(get_results(cursor))

symbol	go_id	evidence
A2M	GO:0001869	IDA
AANAT	GO:0006474	IDA
AANAT	GO:0030187	IDA
AANAT	GO:0071320	IDA
AARS	GO:0006419	IDA
ABCA1	GO:0007040	IDA
ABCA1	GO:0008203	IDA
ABCA1	GO:0016197	IDA
ABCA1	GO:0033344	IDA
ABCA1	GO:0033700	IDA

```sql
DROP VIEW [IF EXISTS] view_name;
```

In [101]:
# gene go information for easy access
sql = '''
DROP VIEW IF EXISTS gene_go_info;
'''
cursor.execute(sql)
connection.commit()

In [102]:
# And close()

cursor.close()
connection.close()

#### To remove the database, delete the .sqlite file.

DONE!!!

________

IDE - for a nice interface to connect to databases and run queries use <b>DBeaver</b>        
https://dbeaver.io/download/      
https://dbeaver.com/doc/dbeaver.pdf      
https://www.devart.com/odbc/sqlite/docs/dbeaver.htm

_____

JupyterLab extensions - <b>Variable Inspector</b> - very useful for checking the variables in your environment (dir() - will retrieve all modules, functions and variables available but might be hard to make sense of them all)

Install nodejs then enable the extension manager in JupyterLab and search for the variable inspector extension and install it.
https://jupyterlab.readthedocs.io/en/stable/user/extensions.html